on: [push]

jobs:
  hello_world_job:
    runs-on: javascript-runner
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: smiti6812/Demo_Javascript@main
        with:
          who-to-greet: 'Mona the Octocat'
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
